---
title: Resources
layout: default.liquid
---

<header class="py-5 bg-light text-center">
	<div class="container">
		<h1 class="display-4">Resources</h1>
		<p class="lead">Some great stuff to check out</p>
	</div>
</header>

<section class="container py-6 py-md-8 d-flex flex-wrap resources">
	<div class="card m-2 flex-grow-1" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Category</h6>
			<a href="#" class="card-link">Card link</a>
	 	</div>
	</div>

	<div class="card m-2 flex-grow-1" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Categorty</h6>
			<a href="#" class="card-link">Card link</a>
	 	</div>
	</div>

	<div class="card m-2 flex-grow-1" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Categorty</h6>
			<a href="#" class="card-link">Card link</a>
	 	</div>
	</div>

	<div class="card m-2 flex-grow-1" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Categorty</h6>
			<a href="#" class="card-link">Card link</a>
	 	</div>
	</div>

	<div class="card m-2 flex-grow-1" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Categorty</h6>
			<a href="#" class="card-link">Card link</a>
	 	</div>
	</div>

	<div class="card m-2 flex-grow-1" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Categorty</h6>
			<a href="#" class="card-link">Card link</a>
	 	</div>
	</div>

	<div class="card m-2 flex-grow-1" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Categorty</h6>
			<a href="#" class="card-link">Card link</a>
	 	</div>
	</div>
</section>