{% extends "./_includes/default.njk" %}

{% block title %}About{% endblock %}

{% block content %}
  <div class="container px-5 max-w-prose text-lg mx-auto  my-16 md:my-32 leading-relaxed">

    <h1 class="text-4xl md:text-6xl text-center mb-8 md:mb-12">Resources</h1>

    <img class="mb-8 md:mb-12 max-h-6 md:max-h-12 mx-auto" src="/img/paranoid-curlyboi.png">

    <h2 class="text-3xl text-center mb-6">Organisations & Events</h2>

    <p class="mb-6">There are many industry bodies and activist organisations that are worth following to keep you abreast of everything that is happening in the security and privacy space, especially legal changes. Below are a couple high profile recommendations to get you started:</p>

    <ul class="list-disc list-inside mb-6">
      <li>
        Digital Rights Watch | <a href="https://digitalrightswatch.org.au/" target="_blank" class="text-brand hover:text-alt">Website</a> | <a href="https://twitter.com/DRWaus" target="_blank" class="text-brand hover:text-alt">Twitter</a>
      </li>
      <li>
        Electronic Frontiers Australia | <a href="https://efa.org.au/" target="_blank" class="text-brand hover:text-alt">Website</a> | <a href="https://twitter.com/efa_oz" target="_blank" class="text-brand hover:text-alt">Twitter</a>
      </li>
      <li>
        NetThing | <a href="https://netthing.org.au/" target="_blank" class="text-brand hover:text-alt">Website</a>
      </li>
    </ul>

    <h2 class="text-3xl text-center mb-6">Submissions & Information</h2>

    <p class="mb-6">Finding the right page to submit to a government proposal can be a real pain, so we've pulled a couple together below for you. If the close date is fast approaching remember that you can reach out via email and request an extension for your submission.</p>

    <ul class="list-disc list-inside mb-6">
      <li>
        Basic Online Safety Expectations (BOSE) | <a href="https://www.communications.gov.au/have-your-say/draft-online-safety-basic-online-safety-expectations-determination-2021-consultation" target="_blank" class="text-brand hover:text-alt">Submissions</a>
      </li>
      <li>
        Restricted Access System (RAS / AV / AA) | <a href="https://www.esafety.gov.au/about-us/consultation-cooperation/restricted-access-system" target="_blank" class="text-brand hover:text-alt">RAS Submissions</a> | <a href="https://www.esafety.gov.au/about-us/consultation-cooperation/age-verification-call-for-evidence" target="_blank" class="text-brand hover:text-alt">Age Verification call for evidence</a>
      </li>
    </ul>

  </div>
{% endblock %}
