---
title: Resources
layout: default.liquid
---

<header class="py-5 bg-light text-center">
	<div class="container">
		<h1 class="display-4">Resources</h1>
		<p class="lead">Some great stuff to check out and rad tools we recommend</p>
	</div>
</header>

<section class="container pt-8">
	<div class="resource-heading mx-auto text-center">
		<h2>Useful Online Tools</h2>
		<p>Tools to help you assess your current security and privacy posture and to help you out if you are experiecing online abuse or harassment.</p>
	</div>

	<div class="d-flex flex-wrap resources">
		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/crashoverride-og-image.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Crash Override</h5>
				<h6 class="card-subtitle mb-2 text-muted">Targeted at those experiecing online abuse, this is also helpful tools for those who want to control what is publicly available about them.</h6>
				<a href="http://www.crashoverridenetwork.com/resources.html" target="_blank" class="card-link">Crash Overide website</a>
		 	</div>
		</div>

		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/eff-sdd-og-image.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">EFF Surveillance Self-Defence Tools</h5>
				<h6 class="card-subtitle mb-2 text-muted">Tips, tools, and how-tos for safer online communication.</h6>
				<a href="https://ssd.eff.org/en" target="_blank" class="card-link">Surveillance Self-Defence Tools</a>
		 	</div>
		</div>

		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/badassarmy-og-image.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Badass Army</h5>
				<h6 class="card-subtitle mb-2 text-muted">If you are a victim of image abuse or online sexual assault, you are not alone. BADASS can help you.</h6>
				<a href="https://badassarmy.org/gethelp/" target="_blank" class="card-link">Badass Army website</a>
		 	</div>
		</div>
	</div>
</section>

<section class="container pt-8">
	<div class="resource-heading mx-auto text-center">
		<h2>Password managers</h2>
		<p>If you aren't already using a password manager we recommend you start as soon as possible. Below are some of our favourite options, but there are loads of others available as well.</p>
	</div>

	<div class="d-flex flex-wrap resources">
		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/1password-og-image.png" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">1Password</h5>
				<h6 class="card-subtitle mb-2 text-muted">Premium password manager, but no free plans available.</h6>
				<a href="https://1password.com" target="_blank" class="card-link">1Password Website</a>
		 	</div>
		</div>

		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/lastpass-og-image.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">LastPass</h5>
				<h6 class="card-subtitle mb-2 text-muted">Premium password manager, with a free plan available.</h6>
				<a href="https://www.lastpass.com" target="_blank" class="card-link">LastPass Website</a>
		 	</div>
		</div>

		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/dashlane-og-image.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Dashlane</h5>
				<h6 class="card-subtitle mb-2 text-muted">Premium password manager, with a free plan available.</h6>
				<a href="https://www.dashlane.com" target="_blank" class="card-link">Dashlane Website</a>
		 	</div>
		</div>

		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/enpass-og-image.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Enpass</h5>
				<h6 class="card-subtitle mb-2 text-muted">Premium password manager, with a free plan available.</h6>
				<a href="https://www.enpass.io" target="_blank" class="card-link">Enpass Website</a>
		 	</div>
		</div>

		<div class="card m-2 flex-grow-1" style="width: 18rem;">
			<img src="/img/resources/bitwarden-og-image.jpg" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Bitwarden</h5>
				<h6 class="card-subtitle mb-2 text-muted">Open Source password manager.</h6>
				<a href="https://bitwarden.com" target="_blank" class="card-link">Bitwarden Website</a>
		 	</div>
		</div>
	</div>
</section>