{% extends "./_includes/default.njk" %}

{% block title %}Schedule{% endblock %}
 
{% block content %}
  <div class="container px-5 max-w-prose text-lg mx-auto my-16 md:my-32 leading-relaxed">

    <h1 class="text-4xl md:text-6xl text-center mb-8 md:mb-12">Schedule</h1>

    <img class="mb-8 md:mb-12 max-h-6 md:max-h-12 mx-auto" src="/img/paranoid-curlyboi.png">

    <p class="text-center">We don't have one yet, check back closer to the date!</p>

  </div>
{% endblock %}