---
layout: default.liquid
title: 2020 Schedule
---

<header class="py-5 bg-light text-center">
	<div class="container">
		<h1 class="display-4">Schedule</h1>
		<p class="lead">PyCon AU 2020 - Friday Sept. 4</p>
	</div>
</header>

<section class="container py-6">
	<div class="schedule mx-auto">
		<div class="list-group">
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Technosolutionism and human rights</h5>
					<p><span class="badge badge-primary">09:15 - 09:40</span></p>
				</div>
				<p><strong>Lucie Krahulcova</strong></p>
				<p class="mb-1">Governments around the globe accept technology as a one-stop-shop solution promising the future socially, economically... nothing that can't be improved or solved with a tech unicorn! But what are the costs that come with embracing technology as the solution to every analogue issue? The COVID19 crisis has laid bare the challenges of public trust, confidence and expectations that individuals have of technology. In this session we will look at how a perfectly tailored technical solution can impact individual's rights and liberties; and discuss the design parameters to mitigate such impacts.</p>
			</a>
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Cracking open the COVIDSafe</h5>
					<p><span class="badge badge-primary">09:50 - 10:15</span></p>
				</div>
				<p><strong>Yaakov Smith</strong></p>
				<p class="mb-1">What exactly is contact tracing, and how can Bluetooth help to slow the spread of a pandemic? How can I balance my own privacy with communal health? Can a simple app actually make it safe to go back to the football?</p>
			</a>
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Biometric Unsecurity</h5>
					<p><span class="badge badge-primary">10:25 - 11:20</span></p>
				</div>
				<p><strong>Carina C. Zona</strong></p>
				<p class="mb-1">Biometrics are widely regarded by the public, and many developers, as heightened security. Their actual track record tells a very different story. Biometric technologies are systematically making the world a less safe place. We have an obligation to do something about that. And we can.</p>
			</a>
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start bg-light">
				<div class="text-center">
					<h5 class="my-2">Break</h5>
				</div>
			</a>
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">What We Do in the Shadows</h5>
					<p><span class="badge badge-primary">12:45 - 13:10</span></p>
				</div>
				<p><strong>Lilly Ryan</strong></p>
				<p class="mb-1">This talk delves into the psychology of shadow IT, the opportunities that can grow out of the corporate underground, and how to get these systems out of the shadows and into the light.</p>
			</a>
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Deceptive Security using Python</h5>
					<p><span class="badge badge-primary">13:20 - 13:45</span></p>
				</div>
				<p><strong>Gajendra Deshpande</strong></p>
				<p class="mb-1">Imagine you are passing through an unknown street at midnight and you find that some anti-social elements are following you. To save yourself from them you start running and look for a safe place to hide yourself. On the way, you will find a good person and request the person to help you. The person hides you in the secure place to protect you. When these anti-social elements visit a good person’s place and enquire about you, the good person misguides them and redirects them to some other place in order to protect you. This is exactly how deception works. In this analogy, YOU are the resources to be protected, anti-social elements are the hackers who want to gain access to the resources, and a good person is a deception technique that protects the resources from hackers by making them fall in the trap.</p>
			</a>
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Hacking Playable Ads: What REALLY are they?</h5>
					<p><span class="badge badge-primary">13:55 - 14:20</span></p>
				</div>
				<p><strong>Evan Kohilas</strong></p>
				<p class="mb-1">Have you ever clicked the 💎 FREE GEMS 💎 button and been served an ad, only to find you're now trialing a game? Come along and learn what those ads really are (and how we can use Python to remove them, all while still keeping your precious gems! 💎😉 )</p>
			</a>
			<a href="https://2020.pycon.org.au/program/fri/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">All Hands on Deck – Handling Security Issues</h5>
					<p><span class="badge badge-primary">14:30 - 14:45</span></p>
				</div>
				<p><strong>Markus Holtermann</strong></p>
				<p class="mb-1">We live in a world of technology. Unfortunately, the software we build has bugs and sometimes vulnerabilities that cause headaches and haunt us at night. It is on us as engineers to not make security issues in the first place. But it is on everybody involved to provide support when an issue exists.</p>
			</a>
		</div>
		<p class="small text-secondary mt-2 text-right">*All times are shown in Australian Central Standard Time (UTC+09:30)</p>
	</div>
</section>
