{% extends "./_includes/default.njk" %}

{% block title %}Stylish & Secure Hat{% endblock %}
 
{% block content %}
  <div class="container px-5 max-w-prose text-lg mx-auto my-16 md:my-32 leading-relaxed">

    <h1 class="text-4xl md:text-6xl text-center">Your Stylish & Secure Hat!</h1>
    <p class="mt-4 mb-8 md:mb-12 text-gray-500 text-center">Everyone needs a beautiful tinfoil hat</p>

    <img src="/img/instructions.jpg" class="mx-auto">

  </div>
{% endblock %}