---
title: Your stylish and secure hat
layout: default.liquid
---

<header class="py-5 bg-light text-center">
	<div class="container">
		<h1 class="display-4">Your Stylish & Secure Hat!</h1>
		<p class="lead">Everyone needs a beautiful tinfoil hat</p>
	</div>
</header>

<section class="container py-3 hero-box">
	<div class="text-center"><img src="/img/instructions.jpg" class="img-fluid"></div>
</section>